# Import Libraries

In [2]:
import pandas as pd
import numpy as np

### Pandas Series object

In [4]:
myIndex = ['USA', 'Canada', 'Mexico']
myData = [1776, 1867, 1821]

In [5]:
mySer = pd.Series(data=myData)
mySer

0    1776
1    1867
2    1821
dtype: int64

In [6]:
mySer2 = pd.Series(data=myData, index=myIndex)
mySer2

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [15]:
ages = {'Sana':4, 'Ravi':15, 'Savi':10, 'Jhony':8, 'kudu':11}
ages

{'Sana': 4, 'Ravi': 15, 'Savi': 10, 'Jhony': 8, 'kudu': 11}

In [17]:
agesSer = pd.Series(data=ages)
agesSer

Sana      4
Ravi     15
Savi     10
Jhony     8
kudu     11
dtype: int64

In [26]:
## Sales data for countries

q1 = {'Japan':80, 'China':450, 'India':200, 'USA':250}
q2 = {'Brazil':100, 'China':500, 'India':210, 'USA':260}

In [23]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [36]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [37]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [38]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [40]:
total_sales = sales_q1 + sales_q2
total_sales

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [42]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64